.breadcrumb {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-size: .8em;
    height: 4rem;
    margin-right: var(--wrapper-padding);

    /*
    Top = (Total height space - Breadcrumb height) / 2
    Top = (6.4rem - 4rem) / 2
    Top = 1.2rem
    */
    top: 1.2rem;
    left: 4.5rem;
}

.breadcrumb > span {
    display: inline-block;
    white-space: nowrap;
}

.breadcrumb a:hover {
    border-bottom: 1px solid var(--text-color);
}

.separator {
    margin: 0 .8em;
    font-weight: bold;
    color: var(--bg-accent-color);
}

@media(min-width: 1200px){
    .breadcrumb {
        display: none;
    }

    .breadcrumb.always {
        display: flex;
        position: static;
        height: auto;
        padding-bottom: 2rem;
    }
}
